<head>
    <meta charset="UTF-8">
    <title>Livraria EducaLivros</title>
</head>

<!-- Header -->
<header class="header">
    <nav class="navbar">
        <img src="/img/logo.png" alt="logo">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/ecommerce">E-commerce</a></li>
            <li><a href="/comprar">Livros Online</a></li>
            <li><a href="/cadastro_livro">Cadastrar Livro</a></li>
        </ul>
    </nav>
</header>
<!-- End Header -->

<link rel="stylesheet" href="/css/test.css">