@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-blue: #130267;
    --color-pink: #d12f7a;
    --color-red:  #c31e1e;
}

body {
    background-image: linear-gradient(black, rgb(17,17,78));
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    z-index: 2;
}

.navbar {
    max-width: 3500px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 100px; /* Altere o tamanho conforme necessário */
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px; /* Adiciona margem à direita */
}

.navbar ul li {
    list-style: none;
    margin: 0 10px; /* Adiciona margem entre os itens */
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar ul li a:hover {
    border-bottom: 3px solid #fff;
}

/*Main*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  
  .cabecalho-imagem {
    height: 72px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
  }
  
  .conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
  }
  
  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
  }
  
  .conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
  }
  
  .conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
  }
  
  .conteudo-principal-imagem {
    height: 430px;
  }
  
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
  }
  
  .rodape {
      padding: 32px;
      border-top: 0.4px solid #FFF2E7;
  }
  
  .rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
  }

/*Home*/
.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 7rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-size: 3.2rem;
    margin-top: 1.5rem;
    color: #fff;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #d0cbcb;
}

.header-bottom-side-left button{
    background-color: rgb(40, 40, 156);
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: rgb(98, 98, 199);
}

.header-bottom-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img{
    width: 100%;

}

main{
    background-color: #ebebeb;
}
.gray-background{
    background-color: #2c2c2c;
}

.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

.cols{
    display: grid;
    padding: 4rem 1rem;
}

.cols-3{
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.cols-3 img{
    max-width: 100%;
}

.cols-4{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.cols-4 img{
    max-width: 100%;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover{
    transform: translate(-5px);
}

.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline{
    width: 100px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product{
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name{
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate{
    color: #0084ff;
    font: 1.3rem;
}

.product-price span{
    font-weight: 600;
}


/* E-commerce */
.home-thing {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 60px;
	text-transform: uppercase;
	margin-top: 15%;
}

.title-image {
	margin-top: 30%;
	margin-left: 5%;
	width: 100%;
	transform: rotate(7deg);
}

#features {
	padding: 7% 15%;

}

.features-box {
	text-align: center;
	padding-top: 2%;
	transition: background-color 3s;
	transition: color 3s;
}

.features-box:hover {
	background-color: #676734;
	color: #FFF;
}

h3 {
	font-family: "Montserrat-Bold";
	color: #FFF;
}

.icon {
	color: #fff;
	margin-bottom: 1rem;
	transition: color 1s;

}

.icon:hover {
	color: #fff;
}

#testimonials {
	text-align: center;
	background-color: #676734;
	transition: background-color 3s;
}


#testimonials:hover {
	background-color: #ADAD5A;

}

.img-1 {
	border-radius: 100%;
}

#testimonials h1 {
	font-family: "Montserrat-Bold";
	font-weight: bold;
	font-size: 3rem;
}

.carousel-item {
	padding: 7% 15%;
}

#pricing {
	padding: 3% 10%;
}

.price-item {
	margin-bottom: 4%;
}

.card-header {
	background-color: #676734;
}

.card {
	background-color: #ADAD5A;
	transition: background-color 3s;
}

.card:hover {
	background-color: #C9C994;
}


#cta {
	text-align: center;
	padding: 5% 15%;
	background-color: #676734;
}

#cta-text {
	padding-bottom: 2%;
	color: #fff;
	font-family: 'Ubuntu';
	font-size: 2rem;
	font-weight: bold;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /*margin: 100 auto;  Adiciona margem automática nas laterais para centralizar na horizontal */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}


.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.75rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button div input {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.table {
    background-color: #f8f9fa; /* Cor de fundo alternativa */
    border: 1px solid #dee2e6; /* Adiciona uma borda */
    border-radius: 5px; /* Borda arredondada */
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

