<%- include('../partials/head_service.ejs') %>
    <%- include('../partials/test.ejs') %>

        <body>
            <header>
                <div class="container-fluid">
                    <!-- Features -->
                    <section id="features">
                        <div class="row">
                            <div class="features-box col-lg-4">
                                <i class="fas fa-check-circle fa-4x icon"></i>
                                <h3>Serviços</h3>
                                <p>Encontre aqui aulas particulares, cursos específicos, etc.</p>
                            </div>
                            <div class="features-box col-lg-4">
                                <i class="fas fa-heart fa-4x icon"></i>

                                <h3>Produtos</h3>
                                <p>Encontre aqui camisetas da escola, bonés, etc.</p>
                            </div>
                            <div class="features-box col-lg-4">
                                <i class="fas fa-bullseye fa-4x icon"></i>
                                <h3>FEEDBACKS</h3>
                                <p>A nossa melhor obra de arte é ver o amor de um pet com seu dono</p>
                            </div>
                        </div>
                    </section>


                    <!-- Testimonials -->

                    <section id="testimonials">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h2>Feedbacks</h2><br>
                                    <em>Guilherme</em><br><br>
                                    <h2>As aulas do professor/tutor Vinícios são muito claras e dinâmicas. A EducaLivros
                                        é demais !!</h2><br>
                                    <img src="/img/servico_feedback/feedback-1.jpg" width="auto" height="auto"
                                        alt="lady-profile">
                                </div>
                                <div class="carousel-item">
                                    <h2>Feedbacks</h2><br>
                                    <em>Ana</em><br><br>
                                    <h2 class="testimonial-text">Os produtos do EducaLivros são os melhores. O
                                        acabamento deste é impecável. Vocês são 10 !!
                                    </h2><br>
                                    <img src="/img/servico_feedback/feedback-2.jpg" width="auto" height="auto"
                                        alt="lady-profile">
                                </div>
                                <div class="carousel-item">
                                    <h2>Feedbacks</h2><br>
                                    <em>Rute</em><br><br>
                                    <h2 class="testimonial-text">Com o EducaLivros, você pode ter uma biblioteca inteira
                                        na palma da sua mão.
                                    </h2><br>
                                    <img src="/img/servico_feedback/feedback-3.jpg" width="auto" height="auto"
                                        alt="lady-profile">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>




            </header>