

    <%- include('../partials/test.ejs') %>

        <body>
            <header>
                <div class="header-inner-content">
                    <div class="header-bottom-side">
                        <div class="header-bottom-side-left">
                            <h2>Segue o link para a aula online !</h2>
                            <p>Descubra a magia das palavras e embarque em uma jornada única com os nossos livros e aulas <br> online.
                                Adquira já o seu exemplar e deixe-se envolver por histórias que inspiram, emocionam e
                                transformam. Não perca tempo, mergulhe nesse universo de conhecimento e imaginação!</p>
                            <button>Veja Mais &#8594;</button>
                        </div>
                        <div class="header-bottom-side-right">
                            <img src="/img/img_project/aula_ead.png" alt="">
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="gray-background">
                    <div class="page-inner-content">

                        <div class="cols cols-3">
                            <img src="/img/img_project/aula1.jpg" alt="">
                            <img src="/img/img_project/aula2.jpeg" alt="">
                            <img src="/img/img_project/aula3.jpeg" alt="">
                        </div>
                    </div>
                </div>

                <div>
                    <div class="page=page-inner-content">
                        <h3 class="section-title">Produtos Disponíveis</h3>
                        <div class="subtitle-underline"></div>
                        <div class="cols cols-4">
                            <div class="product">
                                <img src="/img/livros_disponiveis/Toy Story 4.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/Moana.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/Homem Aranha.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/Moana.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/A bela e a fera.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/O bom dinossauro.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/O rei leao.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>

                            <div class="product">
                                <img src="/img/livros_disponiveis/mickey.jpg" alt="">
                                <p class="product-name">A Pequena Sereia</p>
                                <p class="rate">&#9733;&#9733;&#9733;&#9733;&#97334;</p>
                                <p class="product-price">R$20,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>