<%- include('../partials/head_adocao.ejs') %>
  <body>
    <%- include('../partials/navbar2.ejs') %>
      <div class="content">
        <form action="/routerLogin" method="post">
          <h1>Livraria<br>EducaLivros</h1>
          <p>
            Livros e serviços educacionais online é muito mais prático e rápido. <br>
            Você encontra tudo o que precisa sem precisar sair de casa!
          </p>
          <button class="btn" href="/login">Acesse já !</button>
        </form>

      </div>
      </div>
  </body>

  </html>